fn conf_enable_metadata {
    enable_metadata=yes
    conf_enable_app metadata
}

fn metadata_init {
    if (! ~ $#enable_metadata 0 ) {
        metadatadb=$sitedir^'/_werc/metadata.rec'
        if (! test -f $metadatadb) {
            echo '%rec: Metadata
%mandatory: filename' > $metadatadb;
        }
        prepare_metadata;
        #ll_add handlers_body_foot metadata_table
    }
}

fn prepare_metadata {
    metadatadb=$sitedir^'/_werc/metadata.rec'
    file=$local_file
    if (! ~ $1 '') {
        file=$1;
    }
    finished='false'
    ifs='
';
    if (~ `{head -n 1 $file} '<!---METADATA') {
        for (line in `{cat $file}) {
            if (! ~ $finished 'true') {
                key=`{echo $line | cut -d '=' -f1}
                if (! ~ $key '--->' && ! ~ $key '<!---METADATA') {
                    recexpr='filename = "'^$file^'"'
                    value=`{echo $line | cut -d '=' -f2-}
                    queryoutput=`{recsel -e 'filename = '''^$file^'''' -P filename $metadatadb}
                    if (~ $queryoutput '') {
                        recins -t Metadata -f filename -v $file -f $key -v $value $metadatadb
                    }
                    if not {
                        recset -t Metadata -e $recexpr -f $key -S $value $metadatadb
                    }
                }
                if(~ $line '--->'){
                    finished='true'
                }
            }
        }
    }
}

# This is fine...
fn get_metadata {
    metadatadb=$sitedir^'/_werc/metadata.rec'
    key=$1;
    file=$local_file
    if (! ~ $2 '') {
        file=$2;
    }
    if (! ~ $key '') {
        recexpr='filename = '''^$file^''''
        recsel -e $recexpr -P $key $metadatadb
    }
}

# This is fine...
fn metadata_table {
    metadatadb=$sitedir^'/_werc/metadata.rec'
    recexpr='filename = '''^$local_file^''''
    metadatalist=`{recsel -e $recexpr $metadatadb}
    echo '<table><tr><th>Key</th><th>Value</th></tr>'
    # The ordering can probably be changed with some ls flags if we want control of that?
    for (keyvalpair in $metadatalist) {
        key=`{echo $keyvalpair | cut -f1 -d:};
        val=`{echo $keyvalpair | cut -f2- -d:};
        echo '<tr><td>'^$key^'</td><td>'^$val^'</td></tr>';
    }
    echo '</table>'
}

# Before we focus on set_metadata, prepare_metadata must be working
fn set_metadata {
    metadatadb=$sitedir^'/_werc/metadata.rec'
    file=$local_file
    if (! ~ $3 '') {
        file=$3;
    }
    # Need to prepare it in
    prepare_metadata $file
    key=$1;
    value=$2;

    if (! ~ $key '') {
        queryoutput=`{recsel -e 'filename = '''^$file^'''' -P $key $metadatadb}
        if(~ $queryoutput '') { # If it doesn't exist, we want to put it after the metadata tag
            sed_keyword='<!---METADATA.*'
            sed_replace='<!---METADATA\
'^`{echo $key^'='^$value | sed 's/[\/&]/\\&/g'}
        }
        if not { # If it does exist we want to replace the value
            sed_keyword=`{echo $key^'=.*' | sed 's/[]\/$.^[]/\\&/g'}
            sed_replace=`{echo $key^'='^$value | sed 's/[\/&]/\\&/g'}
        }
        recexpr='filename = "'^$file^'"'
        queryoutput=`{recsel -e 'filename = '''^$file^'''' -P filename $metadatadb}
        if (~ $queryoutput '') {
            recins -t Metadata -f filename -v $file -f $key -v $value $metadatadb
        }
        if not {
            recset -t Metadata -e $recexpr -f $key -S $value $metadatadb
        }

        sed_expression='s/'^$sed_keyword^'/'^$sed_replace^'/'
        sed_out=`{sed -i $sed_expression $file}
        newfile='';
        for (a in $sed_out) {
            newfile=$newfile^$a^'
'
        }
        if (! ~ `{head -n 1 $file} '<!---METADATA') {
            sed_replace=`{echo $key^'='^$value | sed 's/[\/&]/\\&/g'}
            newfile='<!---METADATA
'^$sed_replace^'
--->
'^$newfile
        }
        echo $newfile > $file
    }
}
